body {
    background: var(--body-color);
}

.Beneficiaries {
    width: calc(100% - 10rem);
    margin: auto;
}

.grid-Container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 10% 10% 70%;
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    justify-content: center;
    padding: 10px;
}

.pageTitle {
    justify-self: start;
    padding: 5px;
}

.addBeneficiries-btn {
    justify-self: end;
}

.addBeneficiries-btn button {
    padding: 7px;
    background: #32e0c4;
    border: 2px solid #32e0c4;
    box-sizing: border-box;
    width: 160px;
    height: 40px;
    font-size: 15px;
    font-weight: bold;
    line-height: 23px;
    text-transform: capitalize;
    color: #fff;
}

.beneficiariesDetails {
    grid-column: 1 / span 2;
    display: flex;
    justify-content: space-between;
}

.totalBeneficiaries,
.awaitingRequest,
.scheduledExpenses {
    padding: 10px;
    background: rgba(118, 234, 215, 0.05);
    border-radius: 8px;
}

.beneficiariesTableWrapper {
    grid-column: 1 / span 2;
    background: rgba(118, 234, 215, 0.08);
    border-radius: 5px;
    height: auto;
}

.beneficiariesTable {
    width: 100%;
    padding: 20px;
    text-align: left;
    font-weight: 12px;
    font-size: 14px;
}

.beneficiariesTable thead th {
    padding: 15px;
}

.beneficiariesTableBody {
    text-align: left;
}

.beneficiariesTableRows {
    border: 1px solid #e7eaec;
    box-shadow: 0 0 0 1px rgb(243, 244, 247);
}

.beneficiariesTableRows td {
    padding: 15px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.indicator {
    width: 17px;
    height: 17px;
    border-radius: 50%;
}

.flexWrapper {
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    padding: 10px;
}

.flexWrapper div {
    padding-top: 60px;
    text-align: center;
    width: 27%;
}

.flexWrapper div h6 {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.flexWrapper div .space {
    padding: 16px;
}

.flexWrapper div button {
    background: #32e0c4;
    border: 1px solid #32e0c4;
    box-sizing: border-box;
    padding: 10px;
    color: white;
    font-weight: bold;
}

/* Media Query */

@media screen and (max-width: 1040px) {
    .Beneficiaries {
       width: calc(100% - 3rem);
        margin: auto;
    }

    .grid-Container {
        grid-template-rows: 10% 28% 65%;
        column-gap: 15px;
        row-gap: 30px;
    }

    .addBeneficiries-btn button {
        padding: 2px;
        font-size: 12px;
        width: 115px;
        height: 33px;
    }

    .beneficiariesDetails {
        flex-direction: column;
        }

    .totalBeneficiaries,
    .awaitingRequest,
    .scheduledExpenses {
        display: flex;
        justify-content: space-between;
    }
    
    .beneficiariesTable {
        font-weight: 11px;
        font-size: 10px;
        padding: 5px;
    }

    .beneficiariesTable thead th {
        padding: 5px;
        font-size: 11px;
    }

    .beneficiariesTableRows td {
        padding: 5px;
        font-size: 11px;
        text-align: left;
    }

    .beneficiariesTable thead tr th:nth-child(2) {
        display: none;
    }
    
    .beneficiariesTableRows td:nth-child(2) {
            display: none;
    }

    .indicator {
        width: 14px;
        height: 14px;
        border-radius: 50%;
    }

    .flexWrapper {
        justify-content: space-evenly;
        padding: 5px;
    }

    .flexWrapper div {
        display: none;
    }

    .flexWrapper div .space {
        padding: 10px;
    }
}
