body {
    background: var(--body-color);
}

.Transactions {
    display: flex;
    align-content: center;
    padding: 5px;
    font-family: Trebuchet, sans-serif;
    font-style: normal;
    width: calc(100% - 10rem);
    margin: auto;
}

.gridContainer {
    display: grid;
    height: 460px;
    grid-template-columns: 370px 370px;
    grid-template-rows: 30% auto;
    padding: 5px;
    grid-gap: 40px;
    column-gap: 50px;
}

.grid-col1 {
    place-self: center;
    justify-self: start;
}

.grid-col1 h3 {
    font-family: Trebuchet, sans-serif;
    font-style: normal;
    font-size: 28px;
    line-height: 30px;
    color: #04172a;
}

.grid-col1 .todayDate {
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
    color: #000;
}

.grid-col2 {
    place-self: center;
    justify-self: end;
}

.grid-col2 button {
    width: 150px;
    height: 40px;
    background: #32e0c4;
    border: 1px solid #32e0c4;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 23px;
    text-transform: capitalize;
    color: #fff;
}

.grid-col3 .gridBox {
    display: grid;
    grid-template-columns: 45% 10% 45%;
    grid-auto-rows: 50px 100px;
    width: 345px;
    height: 191px;
    background: rgba(118, 234, 215, 0.1);
    border-radius: 10px;
    padding: 5px;
    column-gap: 5px;
    row-gap: 5px;
    justify-content: space-evenly;
}

.gridBox .box1 {
    grid-column-start: 1;
    grid-column-end: span col3-start;
    grid-row-start: 1;
    grid-row-end: 1;
    padding: 15px;
    font-size: 14px;
}

.gridBox .box2,
.box4 {
    display: grid;
    grid-template-columns: 80px 30px;
    grid-auto-rows: 15px;
    column-gap: 15px;
    row-gap: 25px;
    padding: 13px;
    font-size: 14px;
}

.displayStartDate,
.displayEndDate {
    font-size: 12px;
}

.gridBox .box3 {
    width: 2px;
    height: 125px;
    background: #c4c4c4;
    place-self: center;
}

.grid-col4 {
    background: rgba(118, 234, 215, 0.1);
    border-radius: 10px;
    padding: 5px;
}

.grid-col4 .allTransactions {
    padding: 5px;
}

.transactionsTable {
    border-collapse: separate;
    width: 335px;
}

th {
    text-align: left;
    font-size: 12px;
    padding: 3px;
}

thead tr th {
    font-size: 16px;
}

.transactionSent {
    color: #eb5757;
    padding: 2px;
    font-size: 12px;
}

.transactionRecieved {
    color: #219653;
    padding: 2px;
    font-size: 12px;
}

.transactionFail {
    color: #eb5757;
    padding: 2px;
    font-size: 12px;
}

.userName {
    width: 100%;
    padding: 2px;
    font-size: 12px;
}

.date {
    text-align: right;
    padding: 1px;
    font-size: 11px;
}

.noTransactions {
    font-size: 12px;
    text-align: center;
}

.noTransactions img {
    width: 150px;
}

/* Media Query */

@media screen and (max-width: 1040px) {
    .Transactions {
        padding: 5px;
    }

    .gridContainer {
        grid-template-columns: 200px;
        grid-template-rows: 10% 15% 35% 40%;
        padding: 5px;
        grid-column-gap: 5px;
        grid-row-gap: 5px;
    }

    .grid-col1,
    .grid-col2 {
        place-self: center;
        justify-self: center;
        text-align: center;
    }

    .grid-col2 button {
        height: 25px;
        width: 120px;
    }

    .grid-col3 .gridBox {
        display: grid;
        grid-template-columns: 35% 10% 35%;
        grid-auto-rows: 40px 110px;
        width: 260px;
        height: 130px;
        background: rgba(118, 234, 215, 0.1);
        border-radius: 10px;
        padding: 5px;
        column-gap: 2px;
        row-gap: 5px;
        justify-content: space-evenly;
    }

    .gridBox .box1 {
        padding: 5px;
    }

    .gridBox .box2,
    .box4 {
        padding: 5px;
        width: 120px;
        grid-template-columns: 60px 20px;
        grid-auto-rows: 15px;
        column-gap: 5px;
        row-gap: 5px;
        font-size: 12px;
    }

    .gridBox .box3 {
        margin-bottom: 50px;
        height: 70px;
    }

    .grid-col4 {
        width: 260px;
    }

    .grid-col4 .transactionsTable {
        width: 250px;
    }
}
