:root {
    --nav-color: rgba(118, 234, 215, 0.08);
    --link-size: 1.2rem;
    --icon-size: 2rem;
    --active-color: #eb5757;
}

.SlideClose,
.SlideLogo,
.MenuLogo {
    display: none;
}

/* Top Nav Bar */

.TopNav {
    background: var(--nav-color);
    padding-top: 1rem;
    padding-bottom: 0.8rem;
    position: sticky;
    top: 0;
    z-index: 3;
}

.DashboardNav {
    width: 93%;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.NavItem {
    padding-left: 1rem;
}

.UserProfile {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.UserProfile img {
    width: 35px;
    height: 35px;
}

/* Side Bar */
.SideNav {
    --side-width: 18%;

    background: var(--nav-color);
    width: var(--side-width);
    min-height: 100%;
    overflow: hidden;
}

.SlideNav {
    width: 70%;
    /* height: 50vh; */
    padding-top: 30%;
    margin: auto;
}

.SideList {
    padding-top: 2.5rem;
}

.NavLink {
    font-size: var(--link-size);
    text-decoration: none;
    color: var(--text-color);
    display: flex;
    align-items: center;
}

.NavLink:hover {
    color: var(--primary-color);
}

.Active {
    color: var(--active-color)
}

.SideIcons {
    font-size: 1.5rem;
}

.LinkText {
    padding-left: 0.5rem;
}

/* Media Queries */

@media screen and (max-width: 768px) {

    .SlideLogo,
    .MenuLogo,
    .SlideClose {
        display: block;
    }

    .UserName,
    .UserImg,
    .BrandLogo
     {
        display: none;
    }

    .Notify.NavItem {
        width: 30px;
        height: 30px;
    }

    .DashboardNav {
        width: calc(100% - 3rem);
        margin: auto;
    }

    .SideNav {
        --side-width: 70%;
        position: fixed;
        top: 0;
        left: -100%;
        transition: 840ms;
        background: #fff;
        z-index: 8;
    }

    .SideNav.Action {
        left: 0;
        transition: 600ms;
    }

    .SlideNav {
        width: 80%;
        padding-top: 1rem;
    }

    .SideIcons.SlideClose,
    .SideIcons.MenuLogo {
        font-size: 2.2rem;
    }

    .SlideClose {
        padding-top: 10px;
    }

    .SlideLogo {
        padding-top: 30%;
    }

}