.aboutServices {
    background: rgb(246, 252, 252);
}

.bodyContainer {
    padding-top: 50px;
    background: white;
    margin-top: 10px;
}

.dummy {
    padding-top: 70px;
}

.section {
    margin: auto;
    width: 60%;
    border: 2px solid rgba(231, 235, 227, 0.945);
    padding: 40px;
}

.section h2 {
    text-transform: capitalize;
    font-size: 4vw;
    color: rgb(90, 89, 89);
    padding-top: 10px;
    padding-bottom: 20px;
    text-align: center;
}

.imageContainer {
    margin: auto;
    width: 70%;
}

.imageContainer img {
    width: 85%;
    padding: 10px;
}

.section p {
    padding: 30px 30px;
    font-family: Trebuchet, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 132.4%;
    color: #524d4d;
    text-align: justify;
}

/* MEDIA QUERY */

@media screen and (max-width: 1040px) {

    .section p {
        padding: 5px 5px;
        text-align: justify;
    }
}