.filter-option {
  margin-top: 15px;
  display: flex;
}

.seperatorLines {
  border-left: 2px solid #525252ad;
  margin: 0 4%;
}

.calendarDiv {
  font-size: 2em;
  color: #32e0c4;
  cursor: pointer;
}

#stmtEmail {
  width: 366px;
}