.filter-option {
  display: flex;
}

.filter-option div > input {
  width: 150px;
}

.to input {
  margin-left: 3px;
}

.filter-option div {
  margin: 5px;
  padding: 5px;
}

.to label {
  margin-left: 3px;
}

.to {
  padding-left: 10px;
  border-left: 2px solid #0f0f0f4b;
}

#stmtEmail {
  width: 366px;
}