/* Hero section */
.Home {
    background: url("../Images/cover.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100vh;
    max-height: 100vh;
}

.overLay {
    background: rgba(57, 62, 70, 0.1);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100vh;
    max-height: 100vh;
}

/* Hero Description */
.Hero {
    width: 80%;
    margin: auto;
}

.HeroContent {
    width: 50%;
    margin-top: 30vh;
    color: #fff;
}

.HeroHeading {
    text-transform: uppercase;
}

.heroDes {
    width: 70%;
    line-height: calc(1.5 * var(--font-size));
    margin-top: 0.8rem;
    margin-bottom: 2.5rem;
}

/* Media Queries */

@media screen and (max-width: 1040px) {
    .HeroContent {
        width: 80%;
    }
}

@media screen and (max-width: 660px) {
    .HeroContent {
        width: 90%;
        margin-top: 20vh;
    }

    .heroDes {
        width: 90%;
    }

    .HeroHeading {
        font-size: 1.5rem;
    }
}