body {
    background: var(--body-color);
}

.Benefactors {
    width: calc(100% - 10rem);
    margin: auto;
}

.grid-container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 10% 10% 70%;
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    justify-content: center;
    padding: 10px;
}

.pageTitle {
    justify-self: start;
    padding: 5px;
}

.addBenefactors-btn {
    justify-self: end;
}

.addBenefactors-btn button {
    padding: 7px;
    background: white;
    border: 2px solid white;
    box-sizing: border-box;
    width: 160px;
    height: 40px;
    font-size: 16px;
    line-height: 23px;
    text-transform: capitalize;
}

.benefactorsDetails {
    grid-column: 1 / span 2;
    display: flex;
    justify-content: space-between;
}

.totalBenefactors,
.pendingRequest,
.earnings {
    padding: 10px;
    background: rgba(118, 234, 215, 0.05);
    border-radius: 8px;
}

.benefactorsTableWrapper {
    grid-column: 1 / span 2;
    background: rgba(118, 234, 215, 0.08);
    border-radius: 5px;
    height: auto;
}

.benefactorsTable {
    width: 100%;
    padding: 20px;
    text-align: left;
    font-weight: 12px;
    font-size: 14px;
}

.benefactorsTable thead th {
    padding: 15px;
}

.benefactorsTableBody {
    text-align: left;
}

.benefactorsTableRows {
    border: 1px solid #e7eaec;
    box-shadow: 0 0 0 1px rgb(243, 244, 247);
}

.benefactorsTableRows td {
    padding: 15px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.flex-wrapper {
    display: flex;
    justify-content: space-around;
    align-content: center;
    padding: 10px;
}

.flex-wrapper div {
    padding-top: 80px;
    width: 20%;
}

/* Media Query */

@media screen and (max-width: 1040px) {
    .Benefactors {
        width: calc(100% - 3rem);
        margin: auto;
    }

    .grid-container {
        grid-template-rows: 10% 28% 65%;
        column-gap: 15px;
        row-gap: 30px;
    }

    .addBenefactors-btn button {
        padding: 2px;
        font-size: 12px;
        width: 115px;
        height: 33px;
    }

    .benefactorsDetails {
        flex-direction: column;
    }

    .totalBenefactors,
    .pendingRequest,
    .earnings {
        display: flex;
        justify-content: space-between;
    }

    .benefactorsTable {
        font-weight: 11px;
        font-size: 10px;
        padding: 5px;
    }

    .benefactorsTable thead th {
        padding: 5px;
        font-size: 11px;
    }

    .benefactorsTable thead tr th:nth-child(2) {
        display: none;
    }

    .benefactorsTableRows td {
        padding: 5px;
        font-size: 11px;
        text-align: left;
    }

    .benefactorsTableRows td:nth-child(2) {
        display: none;
    }

    .flex-wrapper {
        padding: 5px;
        flex-direction: column;
        width: 300px;
    }

    .flex-wrapper div img {
        width: 290px;
    }
}
