#About {
    --about-bg: #f7ffff;

    background: var(--about-bg);
    width: 100%;
    height: 100vh;
    max-height: 100vh;
    overflow: hidden;
}

.PColor {
    color: var(--primary-color);
}

.Bold {
    font-weight: bold;
}

.AboutWrapper {
    width: 80%;
    margin: auto;
    margin-top: 5%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.AboutDes {
    width: 100%;
    margin-top: 25%;
    text-align: left;
}

.SubHeading,
.Heading {
    letter-spacing: 1px;
    text-transform: uppercase;
}

.Heading {
    font-weight: bolder;
    line-height: 2;
}

.AboutText {
    --font-size: 0.9rem;

    width: 80%;
    font-size: var(--font-size);
    line-height: calc(1.5 * var(--font-size));
}

.Top {
    margin-top: 1.5rem;
}

.PaymentGif {
    height: 523px;
}

@media screen and (max-width: 1082px) {
    .AboutWrapper {
        width: 80%;
        margin: auto;
        margin-top: 5%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 10px;
        grid-template-areas: "AboutDes""AboutGif";
    }

    .AboutDes {
        grid-area: AboutDes;
        text-align: justify;
        align-self: center;
        justify-self: center;
    }

    .AboutGif {
        grid-area: AboutGif;
    }

    .PaymentGif {
        height: 757px;
    }
}

@media screen and (max-width: 605px) {
    #About {
        overflow: visible;
        overflow-x: hidden;
    }

    .AboutWrapper {
        display: block;
    }

    .Heading {
        font-size: 1.4rem;
    }

    .SubHeading {
        font-size: 1.2rem;
    }

    .AboutText {
        width: 100%;
    }

    .PaymentGif {
        height: 357px;
    }
}

@media screen and (max-width: 403px) {
    .Heading {
        font-size: 1.2rem;
        line-height: 1;
        margin: 0.6rem auto;
    }

    .SubHeading {
        font-size: 1rem;
    }
}