body {
    background: var(--body-color);
}

.p1 {
    padding-right: 0.3rem;
}

.Bold {
    font-weight: bolder;
}

.BlueColor {
    color: var(--primary-color);
}

.RedColor {
    color: var(--active-color);
}

.Wallet {
    width: calc(100% - 10rem);
    margin: auto;
}

.WalletHero {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.WalletHero .SmallText {
    line-height: 2;
    font-size: 0.9rem;
}

.WalletBalance {
    letter-spacing: 1px;
    font-size: 2rem;
    line-height: 2;
}

.WalletTextGrouped {
    margin-top: 0.3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.WalletLink {
    cursor: pointer;
}

.HideIt {
    font-size: 0.75rem;
    cursor: pointer;
}

.CardLink {
    text-decoration: none;
}

.WalletBody {
    margin-top: 8%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 1.2rem;
}

.WalletCard {
    background: var(--nav-color);
    border-radius: 10px;
    width: 350px;
    height: 145px;
}

.WalletAccount {
    grid-column: 1/4;
}

.WalletTrans {
    grid-row: 3/5;
    height: 160px;
}

.LastTransact {
    margin-top: 1rem;
}

.Transact {
    font-size: 0.8rem;
}

.Money {
    letter-spacing: 1px;
}

.LastTransact .CardHeading {
    font-size: 0.9rem;
    line-height: 1.5;
}

.ProfileCard {
    background: var(--nav-color);
    grid-column: 4/13;
    grid-row: 1/5;
    width: 500px;
    height: 250px;
}

.CardItems {
    padding: 1.5rem;
}

.ProfileCard .CardItems {
    padding: 2.5rem;
    letter-spacing: 3px;
    position: relative;
}

.RepifyId {
    line-height: 2.2;
}

.AccountType {
    position: absolute;
    bottom: -70px;
}

.FundInput {
    width: 100%;
    margin-top: 2rem;
}

.PlaceHolder {
    font-size: 0.75rem;
    font-weight: bolder;
    text-transform: uppercase;
    opacity: 0.6;
}

.FundAmount {
    width: 100%;
    height: 2rem;
    margin: 0.5rem auto 1.2rem;
    border: none;
    border-bottom: 1px solid var(--primary-color);
    font-size: 1.3rem;
    font-weight: bold;
}

.FundBtn,
.paystack-button {
    display: block;
    width: 90%;
    margin: auto;
    height: 2.2rem;
    background: var(--primary-color);
    padding: 0.6rem;
    text-align: center;
    cursor: pointer;
    border: none;
    border-radius: 0.5rem;
    color: #fff;
    font-weight: bolder;
    font-size: 0.96rem;
}

.FundBtn:focus,
.FundBtn:active,
.paystack-button:focus,
.paystack-button:active {
    border: none;
    outline: none;
}

.FundBtn:hover,
.paystack-button:hover {
    background: var(--primary-color);
    opacity: 0.5;
}

/* Media Queries */

@media screen and (max-width: 1050px) {
    .WalletBalance {
        margin-top: 1rem;
        font-size: 1.5rem;
    }

    .WalletTextGrouped {
        margin-top: 0.8rem;
    }

    .WalletBody {
        grid-gap: 1rem;
    }

    .WalletCard {
        grid-column: 1/3;
        width: 250px;
        height: 135px;
    }

    .WalletTrans {
        grid-row: 3/5;
        height: 150px;
    }

    .ProfileCard {
        grid-column: 6/13;
        grid-row: 1/5;
        width: 410px;
        height: 250px;
    }

    .LastTransact {
        margin-top: 0.8rem;
    }

    .Transact {
        font-size: 0.7rem;
    }

    .LastTransact .CardHeading {
        font-size: 0.8rem;
        line-height: 1.3;
    }

    .RepifyId {
        line-height: 2.5;
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 870px) {
    .Wallet {
        width: calc(100% - 5rem);
        margin: auto;
    }

    .HeroHeading {
        font-size: 1.2rem;
    }

    .WalletHero .SmallText {
        font-size: 0.7rem;
    }

    .WalletBalance {
        font-size: 1rem;
    }

    .WalletLink {
        font-size: 0.8rem;
    }

    .WalletCard {
        width: 180px;
    }

    .ProfileCard {
        grid-row: 1/4;
        width: 280px;
    }

    .LastTransact {
        margin-top: 0.75rem;
    }

    .LastTransact .CardHeading {
        font-size: 0.7rem;
    }

    .RepifyId {
        font-size: 1rem;
    }
}

@media screen and (max-width: 611px) {
    .Wallet {
        width: calc(100% - 3rem);
        margin: auto;
    }

    .WalletHero,
    .WalletBody {
        display: block;
    }

    .HeroTexts {
        margin-bottom: 2rem;
    }

    .WalletCard,
    .ProfileCard {
        width: 100%;
        margin-top: 1.5rem;
    }

    .ProfileCard {
        height: 150px;
    }

    .CardItems {
        padding: 1.2rem;
    }

    .ProfileCard .CardItems {
        padding: 1.2rem;
        letter-spacing: 1px;
    }

    .RepifyId {
        font-size: 1rem;
    }

    .AccountType {
        bottom: -50px;
    }
}